<form class="form-search">
    <select name="s"> 
        <option value="">Todos</option>
        <option value="proposal">Propuesta</option>
        <option value="in_progress">En progreso</option>
        <option value="finished">Termino</option>
    </select>
    <button type="submit"> Search</button>
</form>


<table class="table">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Comienzo</th>
      <th scope="col">Termino</th>
      <th scope="col">Estado</th>
    </tr>
  </thead>
  <tbody>
  <% @project.each do |p| %>
    <tr>
      <th scope="row"><%= p.name %></th>
        <td><%= p.description %></td>
        <td><%= p.start %></td>
        <td><%= p.end %></td>
        <td><%= p.state %></td>
    </tr>
     <% end %>
  </tbody>
</table>

